body{
    width: 100%;
    .flow{
        width: 700px;
        margin: 50px auto;
        .reviews-buttons{
            display: flex;
            justify-content: space-between;
            padding: 30px 15px;
            max-height: 100px;
            a{
                width: 45%;
                height: max-content;
            }
        }
        .review-title-and-date, .asked-review-title-and-date{
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            h2{
                font-size: 1rem;
            }
            h3{
                font-size: 0.7rem;
            }
        }
        .review-content, .asked-review-content{
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 20px;
            h4{
                font-size: 1.2rem;
            }
            .ticket{
                border: solid 1px black;
                padding: 10px;
                h4{
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
            h5{
                font-size: 1rem;
            font-weight: normal;
            }
            .asked-review-button{
                min-height: 40px;
                margin: 15px;
                button{
                    float: right;
                }
                
            }
        }
        .posted-reviews{
            .asked-review-button{
                margin: 15px 2px;
            }
        }
        // rating
        .rate{
            display: flex;
            align-items: center;
            h4, span{
                margin: 0;
                padding-right: 15px;
                font-weight: 500;
            }
            .rating, .rating-view{
                display: flex;
                flex-direction: row-reverse;
                justify-content: center
            }
            .rating, .rating-view>input {
                display: none;
            }
            .rating, .rating-view>label {
                position: relative;
                width: 1em;
                font-size: 30px;
                font-weight: 300;
                color: #FFD600;
                cursor: pointer;
            }
            .rating, .rating-view>label::before {
                content: "\2605";
                position: absolute;
                opacity: 0;
            }
            .rating-view>input:checked~label::before{
                opacity: 1;
            }
            .rating>label:hover:before,
            .rating>label:hover~label:before {
                opacity: 1 !important;
            }
            .rating>input:checked~label:before {
                opacity: 1
            } 
            .rating:hover>input:checked~label:before {
                opacity: 0.4
            }
            .hidden_rating{
                display:none;
            }
        }
    }
}