{% extends 'base.html' %}
{% block stylesheets %}
<link rel="stylesheet" href="/assets/style/create_review_from_ticket.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
<body>
    {% block content %}
        <main>
            <h1>Créer une critique en rapport avec un ticket</h1>
            <div class="book-review-container">
                <h2>Vous êtes en train de poster en réponse à :</h2>
                <div class="asked-review-container">
                    <div class="asked-review-content">
                        <div class="asked-review-title-and-date">
                            <h2>{{ ticket.user }} a demandé une critique</h2>
                            <h3>{{ ticket.time_created | date:'H:i, d F Y' }}</h3>
                        </div>
                        <h5>{{ ticket.title }} - Author</h5>
                        <p>{{ ticket.description }}</p>
                        <img src="" alt="" width="150px" height="150px">{{ ticket.image }}
                    </div>
                </div>
            <div class="review-text-container">
                <h2>Critique</h2>
                <div class="review-text-content">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Titre</h2>
                        <div class="title-of-review">
                            <div class="input-group mb-3">
                                <!-- <input type="text" class="form-control" id="review-title" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
                                {{ form.headline }}
                            </div>
                        </div>
                        <h3>Note</h3>
                        <div class="rate">
                            <!-- <h4>Excellent</h4><span>-</span> -->
                            <div class="rating" id="star-rate"> 
                                <input type="radio" name="star-rating" value="6" id="6"><label for="6">☆</label> 
                                <input type="radio" name="star-rating" value="4" id="4"><label for="4">☆</label>
                                <input type="radio" name="star-rating" value="3" id="3"><label for="3">☆</label> 
                                <input type="radio" name="star-rating" value="2" id="2"><label for="2">☆</label> 
                                <input type="radio" name="star-rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                        <div hidden="hidden">{{ form.rating }}</div>
                        <script>
                            function setStarsValue() {
                                let ele = document.getElementsByName('star-rating');
                                for(i = 0; i < ele.length; i++) {
                                    if(ele[i].checked & ele[i].value != 6)
                                    myValue = ele[i].value;
                                    else if (ele[i].value == 6)
                                    myValue = 5;
                                    document.getElementById('result').setAttribute('value', myValue)
                                }
                            }
                        </script>
                        <h3>Commentaire</h3>
                        <div class="comment">
                            <div class="input-group mb-3">
                                {{ form.body }}
                                <!-- <input type="text" class="form-control" id="book-description" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
                            </div>
                        </div>
                        <div class="send">
                            <button class="btn btn-primary" type="submit" id="send-review-from-ticket" onclick="setStarsValue()";>Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    {% endblock %}
</body>