{% load static %}
<div class="asked-reviews">
    <div class="asked-review-content">
        <div class="asked-review-title-and-date">
            <h2>{{ ticket.user }} a demandé une critique numéro</h2>
            <h3>{{ ticket.time_created | date:'H:i, d F Y' }}</h3>
        </div>
        <h5>{{ ticket.title | capfirst }} - {{ ticket.author }}</h5>
        <p>{{ ticket.description }}</p>
        <img src="/{{ ticket.image }}" alt="couverture du livre {{ ticket.title }}" style="max-width:80%">
        {% if not ticket.is_reviewed %}
            <div class="asked-review-button">
                <button type="submit" class="btn btn-primary" onclick="window.location='/flow/create_review_from_ticket/{{ ticket.id }}/';" value="{{ticket.id}}">Créer une critique</button>
            </div>
        {% endif %}
    </div>
</div>